/* =================  Font Familly ================== */
@font-face {
    font-family: CircularStd light;
    src: url("../fonts/CircularStd-Light.otf"); 
}
@font-face {
    font-family: CircularStd Medium;
    src: url("../fonts/CircularStd-Medium.otf"); 
}
@font-face {
    font-family: CircularStd Bold;
    src: url("../fonts/CircularStd-Bold.otf"); 
}
@font-face {
    font-family: CircularStd Black;
    src: url("../fonts/CircularStd-Black.otf"); 
}
@font-face {
    font-family: CircularStd-Book ;
    src: url("../fonts/CircularStd-Book.otf"); 
}
@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto-Bold.ttf"); 
}
/* ======================= custom Design ================= */
body{
    color: #040407;
   
}
p{
    font-size: 18px;
    line-height: 28px;
    font-family: CircularStd light;
}
h1, h1{
    font-family: CircularStd Medium;
    font-size: 60px;
    line-height: 70px;
    margin: 0px;
}
h2, .h2{
    color: #040407;
    font-family: CircularStd Medium;
    margin: 0px;
    font-size: 48px;
    line-height: 56px;
}
h3, .h3{
    color: #040407;
    font-family: CircularStd Medium;
    margin: 0px;
    font-size: 40px;
    line-height: 48px;
}
h5{
    font-family: CircularStd Medium;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0px;
}
h6{
    font-family: CircularStd Medium;
    font-size: 18px;
    line-height: 18px;
}
.btn-first{
    color: #fff;
    border-radius: 0 !important;
    padding: 18px 24px;
    background-color: #1954d3;
    font-size: 18px;
    line-height: 28px;
    font-family: CircularStd Black;
}
.btn:hover{
    color: #fff;
}
.underline{
    position: relative;
}
.underline::after{
    content: '';
    background: url(../images/Underline.svg) no-repeat bottom;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 11px;
    right: 0px;
    left: 0px;
    bottom: -14px;
   
}
.underline-black{
    position: relative;
}
.underline-black::after{
    content: '';
    background: url(../images/underline-black.svg) no-repeat bottom;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 11px;
    right: 0px;
    left: 0px;
    bottom: -14px;
   
}

/* =============== hero section ================== */
.fix-header{
    padding: 18px 30px 18px 60px;
    box-shadow: -6px 6px 99px 0 rgba(0, 0, 0, 0.06);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
}
.hero-section{
    position: relative;
    z-index: 6;
    background-color: #040407;
    color: #fff;
    padding-bottom: 65px;
}
.hero-logo{
    padding: 49px 0px 12px;
}
.hero-heading{
    margin-top: 122px;
}
.hero-heading .sub-title{
    margin-top: 30px;
    margin-bottom: 60px;
}
.hero-slider{
    width: 680px;
    height: 680px;
    padding: 0 60px;
    border-radius: 12px;
    background-color: #1E1E20;
    overflow: hidden;
}
.slider-img{
    position: relative;
    height: 100%;
    width: 250px;
    overflow: hidden;
    background-size: cover !important;
    transition: background-position 2s linear 0s;
    -webkit-transition: background-position 2s linear 0s;
    -moz-transition: background-position 2s linear 0s;
    -ms-transition: background-position 2s linear 0s;
    -o-transition: background-position 2s linear 0s;
}
/* .slider-img:hover {
    background-position: center bottom !important;
} */
.hero-slider:hover .image-one{
    background-position: center top !important;
}
.hero-slider:hover .image-two{
    background-position: center bottom !important;
}
.image-one {
    background: url("../images/slider-img-one.png") no-repeat center bottom;
}
.image-two{
    background: url("../images/slider-img-tow.png") no-repeat center top;
}
/* =============== second section ================== */
.second-section{
    margin: 150px 0px 255px;
}
.second-section .heading{
    margin-top: 65px;
}
.second-section .phone-mocup{
  margin-left: -45px;
  position: relative;
  z-index: 2;
}
.second-section .heading{
    margin-left: 18px;
    max-width: 400px;
}
.second-section .heading h2{
    margin-bottom: 20px;
}
.logo-box{
    width: 120px;
    height: 120px;
    box-shadow:0px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-box img{
   width: 95px;
}
.logo-slider-part {
    margin-top: -645px;
    position: relative;
    z-index: 1;
}
#logo-slider .owl-stage{
    padding-top: 100px;
    padding-bottom: 32px;
    margin-left: 30px; 
}
#logo-slider2 .owl-stage{
    padding-top: 18px;
    padding-bottom: 100px;
    margin-left: 30px; 
}
.circle-corret{
    margin-left: 50%;
}
.circle-corret span{
    font-family: CircularStd Medium;
    display: inline-block;
    margin-left: 15px;
}
/* ================= mocup ============ */
.moc-up{
    width: 416px;
    height: 856px;
    border: 6px solid #fff;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    position: relative;
    z-index: 2;
    border-radius: 60px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.moc-up::after{
    width: 100%;
    height: 540px;
    background-image: linear-gradient(to bottom, #1a1a1a, rgba(26, 26, 26, 0.7) 33%, rgba(26, 26, 26, 0.6) 48%, rgba(26, 26, 26, 0.8) 69%, #1a1a1a), url('../images/mac-house.jpg');
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: top center;
    background-size: cover;
    transition: all 1s;
}
.moc-up:hover{
    transition: all 1s;
}
.moc-up::before{
    content: '';
    width: 100%;
    height: 310px;
    background-color: #1a1a1a;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.btom-shadow{
    width: 354px;
    height: 41px;
    opacity: 0.2;
    -webkit-filter: blur(20.3px);
    filter: blur(20.3px);
    background-color: #000;
    margin-left: 35px;
}
img.c-one {
    margin-left: 14px;
    margin-top: 93px;
    transition: all .5s;
    width: 100%;
}
.moc-up:hover img.c-one{
    margin-top: 63px;
} 
.second-section .alerm{
    margin-top: 30px;
    margin-right: 30px;
    text-align: end;
    position: relative;
}
.alerm::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    right: -8px;
    top: -5px;
    background-color: #FF6058;
    outline: 2px solid #707070d2;
    transition: all .5s;
}
.moc-up:hover .alerm::after{
    outline: 4px solid #707070d2;
}
.alerm i{
    color: #fff;
    font-size: 18px;
    transition: all .5s;
}
.moc-up:hover .alerm i{
    rotate: 15deg;
}
.second-section  .menu-bar{
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
   
}
/* =========== ========================== Service section ============================== ============ */
.service-section{
    background-color: #EDF0EC;
    padding-bottom: 94px;
}
.service-section h2{
    max-width: 763px;
    margin: auto;
    padding: 60px 0px 130px;
    text-align: center;
}
.service-section .content{
    max-width: 289px;
}
.service-section .content h5{
    margin: 14px 0px 18px;
}

.service-section .notification{
    width: 399px;
    height: 125px;
    border-radius: 8px;
    background: #fff;
    box-shadow: -6px 6px 176px rgba(0, 0, 0, 0.06);
    padding: 23px 20px;
    position: relative;
    margin-left: 110px;
    margin-top: 110px;
    z-index: 1;
}
.service-section .alerm{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1954D3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: -20px;
    rotate: 15deg;
   
}
.service-section .alerm::after{
    top: 0px;
    right: 4px;
}
.notification:hover .alerm::after{
    outline: 4px solid #707070d2;
}
.notification:hover .alerm i{
    rotate: -30deg;
}
.spa-mocup{
    position: relative;
}
.service-moc{
  position: absolute;
  right: -160px;
  top: -82px;
  cursor: pointer;
}
.service-moc .close-icon{
    position: absolute;
    width: 27px;
    height: 27px;
    background-color: #fff;
    color:#1a1a1a;
    left: 70px;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .5s;
}
.close-icon:hover{
    width: 35px;
    height: 35px;
}
.close-icon i{
    transition: all .5s;
}
.close-icon:hover i{
    font-size: 20px;
    color: #01B398;
}
.service-moc .love-icon{
    position: absolute;
    background-color:#4F4E4E;
    width: 27px;
    height: 27px;
    color: #fff;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .5s;
    right: 70px;
}
.service-moc .love-icon i{
    font-size: 14px;
}
.love-icon:hover{
    width: 35px;
    height: 35px;
}
.love-icon i{
    transition: all .5s;
}
.love-icon:hover i{
    font-size: 20px;
    color: #FD635C;
}
.animated-btn{
    position: absolute;
    top: 440px;
    right: 140px;
    width: 48px;
    height: 48px;
    transition: all .5s;
}
.animated-btn::before{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 48px;
    height: 48px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0.08;
    border-radius: 50%;
}

.animated-btn::after{
    content: '';
    width: 34px;
    height: 34px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
}
.service-moc:hover .animated-btn{
    top: 588px;
    right: 90px;
}
/* =========== ========================== discover section ============================== ============ */
.discover-section{
    padding-top: 150px;
}
.discover-section h2{
    max-width: 620px;
}
.discover-section .slider-box{
    padding: 40px 30px 60px;
    border-radius: 4px;
    box-shadow: 7px 7px 99px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
  min-height: 300px;
  max-width: 399px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discover-section .slider-box h5{
    margin: 20px 0px;
}
.discover-section .slider-box img{
    width: 50px;
}
#discover-slider .owl-stage{
    padding-bottom: 120px;
    padding-top: 75px;
}
#discover-slider.owl-theme .owl-nav {
    margin-top: 0px;
    position: absolute;
    top: -100px;
    right: 0;
}
#discover-slider.owl-theme .owl-nav [class*=owl-]:hover {
    background: #fff;
    color: #040407;
    text-decoration: none;
    
}
#discover-slider.owl-theme .owl-nav [class*=owl-]{
    margin: 12px;
    border-radius: 50%;
    border: 1px solid #040407;
    width: 50px;
    height: 50px;
}
/* =========== ========================== count down section ============================== ============ */
.coundown-section{
    background-color: #EDF0EC;
    padding: 80px 0px;
}
.coundown-section .count-number{
    font-family: CircularStd Medium;
    display: block;
    font-size: 60px;
    line-height: 70px;
}

/* =========== ========================== partnership section section ============================== ============ */
.partnership-section{
 
}
.partnership-section h2{
    margin-bottom: 20px;
}
.partnership-section .p-cirlcle{
    width: 763px;
    height: 763px;
    position: relative;
}
.partnership-section .long{
    position: absolute;
    top: 2px;
    right: 0;
    left: 3px;
    bottom: 0;
    margin: auto;
    transition: all .5s;
}
.partnership-section .shor{
    position: absolute;
    top: -3px;
    right: 0;
    left: -10px;
    bottom: 0;
    margin: auto;
    transition: all .5s;
}

.p-cirlcle:hover .long{
    rotate: -13deg;
}
.p-cirlcle:hover .shor{
    rotate: 30deg;
}
/* =========== ========================== partnership section section ============================== ============ */
.price-section{
    position: relative;
}
.price-section::after{
    content: '';
    position: absolute;
    background-color: #040407;
    right: 0;
    left: 0;
    top: 0;
    height: 550px;
    z-index: -1;
}
.price-section .title{
    padding: 60px 0px 72px;
    color: #edf0ec;
    text-align: center;
}
.price-section .price-card{
  padding: 38px 104px 40px 69px;
  border-radius: 6px;
  border: solid 1px #edf0ec;
  background-color: #fff;
}
.price-card .p-left img{
    width: 50px;
    margin-bottom: 20px;
}
.price-card .p-left .text1{
    margin-bottom: 20px;
    display: block;
    font-family: CircularStd Medium;
}
.price-card .p-left .text2{
    display: block;
    font-family: CircularStd light;
}
.price-card .p-left h2{
    line-height: 30px;
    margin-bottom: 20px;
}
.price-card .p-left h2 span{
    font-size: 24px;
}
.price-card .p-middle li{
    margin-bottom: 23px;
    font-family: CircularStd Medium;
}
.price-card .p-middle li i{
    margin-left: 15px;
    display: inline-block;
}
.price-card .sub-title{
    margin: 20px 0px 40px;
}
.price-section .btm-text{
    margin-top: 30px;
    margin-bottom: 0px;
}
.price-section .btm-text span{ 
    font-family: CircularStd Medium;
    
}
/* =========== ========================== price-bottom-part ============================== ============ */
.price-bottom-part{
    margin: 150px 0px;
}
.price-bottom-part .bg{
    padding: 40px 40px 40px 69px;
    border-radius: 6px;
    background-color: #92e3ca;
}
.price-bottom-part .content{
    max-width: 550px;
}
.price-bottom-part .content p{
   margin: 12px 0px 42px;
}
.price-bottom-part .underline-black::after{
    bottom: -5px;
}
.price-bottom-part img{
    position: relative;
    left: -6px;
}
/* =========== ========================== accordion section ============================== ============ */
.accordion-section{
    margin-bottom: 150px;
}
.accordion-section .container{
    max-width: 1059px;
}
.accordion-section .accordion-item{
    border: none;
    border-bottom: 1px solid #edf0ec;
    padding-bottom: 20px;
    padding-top: 20px;
}
.accordion-section .accordion-button:not(.collapsed){
    background-color: #fff;
    color: #222222;
    box-shadow: none;
    padding-bottom: 0px;
}
.accordion-section .accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}
.accordion-section .accordion-button{
    padding: 0px 20px 0px 0px;
    font-size: 24px;
    line-height: 30px;
}

.accordion-section .accordion-body{
    padding: 8px 100px 0px 0px;
    font-size: 18px;
    line-height: 28px;
    font-family: CircularStd light;
}
.accordion-section .accordion-button.collapsed::after {
    background: url("../images/acoordion-plus.svg");
}
  
.accordion-section .accordion-button:not(.collapsed)::after {
    background: url("../images/acoordion-plus.svg");
}
.accordion-button:not(.collapsed)::after { 
    transform: rotate(-135deg);
}
/* =========== ========================== footer section  ============================== ============ */
.footer-section{
    background-color: #040407;
    padding: 60px 30px 60px 60px;
    color: #fff;
}
.footer-section span{
    font-family: CircularStd light;
}
.footer-section  .footer-nav a{
    color: #fff;
    font-family: CircularStd Medium;
}
.footer-section .social-icon a{
    color: #040407;
}
.footer-section .footer-nav{
    margin: 0px 70px 0px 40px;
    display: inline-block;
}
.footer-section .social-icon{
    display: inline-block;
}
.footer-section .footer-nav .list-inline-item:not(:last-child){
    margin-right: 40px;
}
.footer-section .social-icon .list-inline-item:not(:last-child){
    margin-right: 20px;
}
.footer-section .social-icon .list-inline-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EDF0EC;  
    text-align: center; 
}
.footer-section .social-icon .list-inline-item a{
    display: flex;   
    justify-content: center; 
    align-items: center; 
    height: 100%;
}
.footer-section .social-icon .list-inline-item a i{
    font-size: 19px;
}
.footer-section .list-inline{
    margin-bottom: 0px;
}


